<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">


    <servlet>
        <servlet-name>DefaultImageServlet</servlet-name>
        <display-name>DefaultImageServlet</display-name>
        <description>Servlet to dynamically resize an image</description>
        <servlet-class>com.ceg.resizer.servlets.DefaultImageServlet</servlet-class>
        <init-param>
            <param-name>LocalCacheDir</param-name>
            <param-value>/tmp</param-value>
            <description>Directory we want our local cache so we don't Download the image every time.</description>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>DefaultImageServlet</servlet-name>
        <url-pattern>/V1/*</url-pattern>

    </servlet-mapping>

    <servlet>
        <servlet-name>LegacyImageScalerServlet</servlet-name>
        <display-name>LegacyImageScalerServlet</display-name>
        <description>Legacy Image resizer currently used by EOL.</description>
        <servlet-class>com.ceg.resizer.servlets.LegacyImageScalerServlet</servlet-class>

        <init-param>
            <param-name>LocalCacheDir</param-name>
            <param-value>/tmp</param-value>
            <description>Directory we want our local cache so we don't Download the image every time.</description>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>LegacyImageScalerServlet</servlet-name>
        <url-pattern>/resize/*</url-pattern>

    </servlet-mapping>

    <filter>
        <filter-name>AllowedHostnameFilter</filter-name>
        <filter-class>com.ceg.resizer.filters.AllowedHostnameFilter</filter-class>
        <init-param>
            <param-name>allowedHosts</param-name>
            <param-value>localhost,bender.eonline.com,0:0:0:0:0:0:0:1%0</param-value>
            <description>Add a comma delimited list of hostnames to allow</description>
        </init-param>
    </filter>
<!--
    <filter-mapping>
        <filter-name>AllowedHostnameFilter</filter-name>
        <url-pattern>/V1/*</url-pattern>
    </filter-mapping>
-->
    <error-page>
        <error-code>401</error-code>
        <location>/status/401.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/status/404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/status/500.jsp</location>
    </error-page>
</web-app>

